/* responsive tablet & mobile */
@media (max-width: 1023px) {
    #footer .social-list{
        font-size: 30px;
    }

    #footer .social-list a{
        padding: 0 8px;
    }
}

/* responsive mobile */
@media (max-width: 739px) {
    .s-col-full{
        width: 100%;
    }
    
    .s-mt-8{
        margin-top: 8px;
    }

    .s-mt-16{
        margin-top: 16px;
    }

    .s-mt-32{
        margin-top: 32px;
    }

    #header{
        background-color: unset;
    }

    #header .search-button{
        display: none;
    }
    #nav{
        background-color: #00000091;
    }
    #nav li:not(:first-child){
        display: none;
        animation: dropDown 1s ease;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #nav,
    #nav li,
    #header .mobile-menu-button {
        display: block;
        transition: transform 0.5s;
    }
    
    .mobile-menu-button:hover{
        cursor: pointer;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    
    @keyframes dropDown {
        from{
            opacity: 0;
            transform: translateY(-5px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    #slider .slider-content{
        display: none;
    }

    #content .member-img{
        width: 60%;
    }
    #content .member-list{
        margin-top: 0;
    }
    .btn{
        width: 100%;
        font-size: 15px;
        padding: 15px 16px;
    }
    .pd-l-20 {
        padding-left: 0;
    }
}  

